.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-item {
  margin: $gutter;

  border: 0;
  border-bottom: $brand-border;

  background: transparent;
  color: $brand-brown;
  font-size: 1rem;
}

.button {
  padding-top: 1rem;
}
