.header-container {
  width: 100%;

  background: $brand-redish;

  &__inner-container {
    max-width: $max-content-width;

    margin: auto;

    background-color: $brand-redish;
  }

  &_items {
    display: flex;
    align-items: center;

    color: $brand-white;
  }
}

.header-container_items {
  color: $brand-white;
}

.header-item {
  padding-left: $gutter * 4;

  color: $brand-white;
  font-weight: lighter;
}

.header-text {
  padding-left: $gutter * 4;
}

.header-menu {

}

.game_menu {
  display: flex;
  justify-content: space-between;

  &:first-of-type {
    padding-left: $gutter * 10;
  }

  &:last-of-type {
    padding-right: $gutter * 10;
  }
}

.game-title {
  padding: $gutter * 2;
  border-bottom: $gutter solid transparent;
  border-radius: 0.1rem;

  color: $brand-white;

  &:hover {
    border-bottom: $gutter solid $brand-brown;
    background: lighten($brand-redish, 10%);
  }

  &:action {
    background: $brand-redish;
  }
}
