$title-white: #fff;

*{
  box-sizing: border-box;

  :before,
  :after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  max-width: 100%;
}

li {
  list-style: none;
}

.header-container {
  margin: auto;
  max-width: 65rem;
  background-color: #b3ccff;
  border-bottom: 0.2rem  grey;

    &_items {
      display: flex;
      align-items: center;
    }



}

.header-container_items {

}

.header-menu {

}

.game_menu {
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;


}

.game-title {
color: #000066;

}

.main-content_container {
  margin: auto;
  max-width: 65rem;
  // background-color: purple;
  // display: flex;

}


.main-content {
  margin: auto;
  max-width: 65rem;
  padding: 1rem;

}

.main-content_title {


}

.form-content {

}

.info-button {
  color: green;
  background-color: #ff6600;

}

.game-name_container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  padding-top: 1rem;

}

.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.1rem solid #666699;

}

.input-item {


}

.button {
  padding-top: 1rem;
}

.submit-button {
  color: green;
  background-color: #ff6600;

}
