@import 'variables';
@import 'base';
@import 'header';
@import 'chat';
@import 'register';
@import 'login';
@import 'add-new';

.image-container {
  position: relative;
  max-width: 8rem;

  border-radius: $gutter;

  overflow: hidden;

  &:before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.game-pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
}


.game-info-stuff {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 20rem;
  padding: $gutter * 2;

  font-size: 1rem;
}
