*{
  box-sizing: border-box;

  :before,
  :after {
    box-sizing: border-box;
  }
}

body {
  max-width: 100%;
  margin: 0;

  background: $brand-tan;
  color: $brand-brown;

  font-family: sans-serif;
}

li {
  list-style: none;
}

button {
  padding: 0.5rem 1rem;

  border: 0;
  border-radius: 0.3rem;

  outline: 0;

  background: $brand-greenish;
  color: $brand-brown;

  font-size: 1rem;
  cursor: pointer;
}

input {
  outline: 0;
}

a:link {
  text-decoration: none;
}
