*{
  box-sizing: border-box;

  :before,
  :after {
    box-sizing: border-box;
  }
}

body {
  max-width: 100%;
  margin: 0;

  background: $brand-white;
  color: $brand-baby-blue;

  font-family: sans-serif;
}

li {
  list-style: none;
}

button {
  padding: 0.5rem 1rem;

  border: 0;
  border-radius: 0.3rem;

  outline: 0;

  background: $brand-redish;
  color: $brand-white;


  font-size: 1rem;
  cursor: pointer;
}

input {
  padding: $gutter * 3;
  padding-bottom: $gutter;

  outline: 0;
}

::-webkit-input-placeholder {
   color: $brand-redish;
   opacity: 0.4;
}

a:link {
  text-decoration: none;
}

header {
  background-color: $brand-white;
}
