*{
  box-sizing: border-box;

  :before,
  :after {
    box-sizing: border-box;
  }
}

body {
  max-width: 100%;
  margin: 0;

  background: $brand-white;
  color: $brand-brown;

  font-family: sans-serif;
  font-size: 100%;
}

li {
  list-style: none;
}

button {
  padding: 0.5rem 1rem;

  border: 0;
  border-radius: 0.3rem;

  outline: 0;

  background: $brand-redish;
  color: $brand-white;

  font-size: 1rem;
  text-shadow: 0.1rem 0.1rem $brand-brown;
  cursor: pointer;

  &:hover {
    background: darken($brand-redish, 4%);
  }

  &:active {
    background: $brand-redish;
  }
}

input {
  padding: $gutter * 3;
  padding-bottom: $gutter;

  outline: 0;
}

::-webkit-input-placeholder {
   color: $brand-redish;
   opacity: 0.4;
}

a:link {
  text-decoration: none;
}

header {
  background-color: $brand-white;
}
