.chatroom-container {
  display: flex;
  flex-direction: column;

  margin: $gutter;
  border-radius: 0.19rem;
}

.denial-page {
  text-align: center;
}

.denial-button {
  padding: 0.5rem 1rem;

  border: 0;
  border-radius: 0.3rem;

  font-size: 1rem;
}

.message-text {
  margin: 0;
  padding: $gutter 0 $gutter * 4 $gutter * 4;

  background: transparent;
  color: $brand-brown;

  &:last-of-type {
    margin-bottom: $gutter * 4;
  }
}

.user-name {
  color: $brand-redish;
}

.created-at {
  color: $brand-greenish;
}

.post__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 50rem;
}

.post-input {
  width: 80%;

  border: 0;
  border-bottom: $brand-border;

  background: transparent;

  font-size: 1rem;
}

.post-btn {
  width: 20%;
}
