.form-inputs {
  display: flex;
  align-items: center;
}

.input-field {
  width: 100%;

  margin-bottom: $gutter;
  padding-bottom: $gutter;
  border: 0;
  border-bottom: $brand-border;
  background: transparent;
  font-size: 1.1rem;
}

.input-label {
  width: 5rem;

  padding-right: $gutter;

  text-align: right;
}
