.form-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-field {
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  border: 0;
  border-bottom: $brand-border;
  background: transparent;
  font-size: 1.1rem;
}

.input-label {}
