<h2 class="room-title">(Game Title) Chat Room</h2>

<div class="chatroom-container">
  <div class="chatroom-container__content">
    <p class="message-text">
        <span class="created-at">(timestamp)</span>
        <span class="user-name">(username)</span>
        <span class="post-content">(message)</span>
      </p>
  </div>
  <form class="post__container"{{action postMessage newPost on="submit"}}>
    {{input class="post-input" value=newPost placeholder="Start Typing"}}
    <button class="post-btn">Post</button>
  </form>
</div>

{{outlet}}
