<h2 class="room-title">(Game Title) Chat Room</h2>

<div name="game-name">
  <ul>
    <li>game name</li>
    <li>game pic</li>

  </ul>

  {{#link-to "games.info"}}
    <button class="info-button">Info</button>
  {{/link-to}}
</div>


<div class="chatroom-container">
  {{!-- {{#if session.isAuthenticated}} --}}
    <div class="chatroom-container__content">
      <p class="message-text">
        <span class="created-at">(timestamp)</span>
        <span class="user-name">(username)</span>
        <span class="post-content">(message)</span>
      </p>
    </div>
    <form class="post__container" {{action postMessage newPost on="submit"}}>
      {{input class="post-input" value=newPost placeholder="find your boardmeeting"}}
      <button class="post-btn">Giggity</button>
    </form>

  {{!-- {{else}}

    <div class="denial-page">
      <p class="denial-text">You must be looged in to view the chat.</p>
      {{#link-to "login"}}
        <button class="denial-button">Login</button>
      {{/link-to}}
      <p class="denial-text">If you are not already registered, you can do so here.</p>
      {{#link-to "register"}}
        <button class="denial-button">Register</button>
      {{/link-to}}
    </div>
  {{/if}} --}}
</div>
