<div name="game-name">
  <ul>
    <li>game name</li>
    <li>game pic</li>

  </ul>

  {{#link-to "games.info"}}
  <button class="info-button">Elimination Games</button>
  {{/link-to}}
</div>

{{outlet}}
