
<div class="main-content_container">
  <div class="main-content">
    <div class="main-content_title">
      <h4> Games Beotchezzz</h4>
    </div>
<form class="form-content">Game</form>

<div name="game-name">
  <ul>
    <li>game name</li>
    <li>game pic</li>

  </ul>

  {{#link-to "games.info"}}
  <button>Info</button>
  {{/link-to}}
</div>
</div>
</div>


{{outlet}}
