

    <div name="game-name">
      <ul>
        {{#each model as |game|}}
        <li>
          <div class="image-container">
            <img src="{{game.image}}" alt="" class="game-pic">
          </div>
          {{game.title}}
        </li>

        {{/each}}
      </ul>

      {{#link-to "games.info"}}
        <button class="info-button">Info</button>
      {{/link-to}}
    </div>


{{outlet}}
