

    <div name="game-name">
      <ul>
        {{#each model as |game|}}
        <li>
          <div class="image-container">
            <img src="{{game.image}}" alt="" class="game-pic">
          </div>
          {{game.title}}
        </li>
        {{#link-to "games.info" game.id}}
          <button class="info-button">Info</button>
        {{/link-to}}
        {{/each}}
      </ul>

    </div>


{{outlet}}
