<header>
  <div class="header-container">
    <div class="header-container_items">
      <p>{{fa-icon "gamepad" class="header-item"}}</p>
      <h2 class="header-text header-item">Board Meeting</h2>
      <p>{{fa-icon "gamepad" class="header-item"}}</p>
    </div>
    <div class="header-menu">
      <ul class="game_menu">
        {{#link-to "games.strategy"}}
          <li class="game-title">Strategy</li>
        {{/link-to}}

        {{#link-to "games"}}
          <li class="game-title">Elimination Games</li>
        {{/link-to}}

        {{#link-to "games"}}
          <li class="game-title">Physical Games</li>
        {{/link-to}}

        {{#link-to "games.new"}}
          <li class="game-title">Add New</li>
        {{/link-to}}
      </ul>
    </div>
  </div>
</header>


<div class="main-content_container">
  <div class="main-content">
    <div class="main-content_title">
      <h4> Games Beotchezzz</h4>
    </div>
    <form class="form-content">Games</form>

    {{outlet}}
  </div>
</div>
