<header>
  <div class="header-container">
    <div class="header-container_items">
      <p>{{fa-icon "gamepad" class="header-item"}}</p>
      <h2 class="header-text header-item">We Play Games</h2>
    </div>
    <div class="header-menu">
    <ul class="game_menu">
      <li class="game-title">Strategy</li>
      <li class="game-title">KILLERS</li>
      <li class="game-title">Blow Crap Up</li>
      <li class="game-title">We All Win</li>
    </ul>
  </div>
</div>
</header>

{{outlet}}
