<header class="header-container">
  <div class="header-container__inner-container">
    <div class="header-container_items">
      <p>{{fa-icon "hand-spock-o" class="header-item"}}</p>
      <h2 class="header-text header-item">Board Meeting</h2>
      <p>{{fa-icon "hand-spock-o" class="header-item"}}</p>
    </div>
    <div class="header-menu">
      <ul class="game_menu">
        {{!-- {{#link-to "games.strategy"}}
          <li class="game-title">Strategy</li>
        {{/link-to}} --}}

        {{#link-to "games"}}
          <li class="game-title">Games</li>
        {{/link-to}}

        {{!-- {{#link-to "games"}}
          <li class="game-title">Physical Games</li>
        {{/link-to}} --}}

        {{#link-to "games.new"}}
          <li class="game-title">Add New</li>
        {{/link-to}}
      </ul>
    </div>
  </div>
</header>


<div class="game-content__container">
  <div class="main-content">
    <div class="main-content_title">

    </div>

    {{outlet}}
  </div>
</div>
